*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #232323;
  color: #fff ;
}

.main-item{
  column-count: 3;

}

.main-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;

}

.main-navbar{
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  z-index: 1;
}

.main-navbar:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  opacity: 0.6;
  background-color: #000;
  left: 0;
  top: 0;
  z-index: -1;
}

button{
  font-size: 16px;
  font-weight: 500 !important;
  letter-spacing: .5px;
}

.search-input{
  width:70%;
  margin: 0 auto;
  background-color: transparent;
  color: #fff;
}

.search-input::placeholder{
  color: #fff;
}

.search-input:focus{
  box-shadow: none;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}